<!DOCTYPE HTML>

<html>

<head>
	<title>{{ .Title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
</head>

<body>

	<!-- Header -->
	<div id="header">

		<div class="top">

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
					<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About</span></a></li>
					<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
					<br>
					<!--<li><a href="/layouts/faq.html" id="faq-link" class="skel-layers-ignoreHref"><span class="icon fa-question">Contact</span></a></li>-->
				</ul>
			</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				{{ range .Site.Params.social }}
				<li><a href="{{ .link }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
				{{ end }}
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container">

				<header>
					<h2 class="alt">FAQ</h2>
					<p>
						Find answers to most of your questions here.
					</p>
				</header>
			</div>
		</section>

		
		<!-- FAQ -->
		<section id="faq" class="five">
			<div class="container">

				<header>
					<h2>Frequently Asked Questions</h2>
				</header>
						<h3>1. Where can I register for rides?</h3>
					<p>
						Make sure to RSVP on our Facebook page. If you don't have Facebook please <a href="#contact" id="contact-link" class="skel-layers-ignoreHref">send us an email</a> to let us know that you're coming, and which ride you're planning on attending.
					</p>
						<h3>2. Is there a fee to being part of the club?</h3>
					<p>
						There is no fee to being part of the Ryerson University Cycling Club.
					</p>

						<h3>3. Are you affiliated with the Ryerson Bike Room?</h3>
					<p>
						Not yet. Luis is working on that!
					</p>

						<h3>4. What times of the year does the club run/hold events?</h3>
					<p>
						In general, all year round (Winter, Spring, Summer and Fall). Rides are bi-weekly and run from Early April until the end of November/first fall of snow. Events where RUCC takes part in can take place all year round and members are encouraged to partake!
					</p>
						<h3>5. What day(s) of the week do rides take place?</h3>
					<p>
						For 2019 rides are taking place on Saturday mornings, and begin at 9 AM. If there is inclement weather the ride may be moved to the following day, or cancelled.
					</p>

					<h3>6. What's a typical RUCC route look like?</h3>
					<p>
						Routes are mostly on paved trails/dedicated bike infrastructure. We may have to ride with cars on the road, but only at the last resort.
						<br>
						Favorite landmarks to visit include: The Leslie Spit, Woodbine Beach, Humber Bridge, Amos Waites Park, Scarborough Bluffs, and Evergreen Brickworks, to name a few.
						<br>
						Rides are generally casual and friendly. We will sometimes stop by an establishment to cool off and get to know each other.
					</p>
						<h3>7. Is the club open to non-Ryerson students or is it for the Ryerson University Community only?</h3>
					<p>
						The Ryerson University Cycling Club is open to everyone, Ryerson or non-Ryerson. In that regard, please check question 8.
					</p>
						<h3>8. What are the requirements to join the club?</h3>
					<p>
						You will need:
						
						<li>a bicycle in good working condition. We don't currently offer bike rentals/discounts, but it something we are working towards in the future.</li>
						<li>a helmet, please bring one on our rides.</li>
						<li>signed waiver. For your first ride, arrive at least ten minutes early to sign our general waiver on behalf or Ryerson. Anyone can sign it, check question 7.</li>
						<li>your charisma for cycling!</li>
						
					</p>
						<h3>9. Do you have any cycling related content (maps, handbooks)?</h3>
					<p>
						We have some City of Toronto Cycling maps, as well as the official cycling handbook provided by Cycle Toronto. We have limited stocks, but given a request Luis can get you one within two weeks. <a href="#contact" id="contact-link" class="skel-layers-ignoreHref">Send him an email here.</a>
					</p>
						<h3>10. None of these questions match my question. What can I do?</h3>
					<p>
						Reach out to us! Fill in the contact form with your email address and one of our team-members will get back to you within a reasonable time.
					</p>	

			</div>
		</section>

		<!-- Contact -->
		<section id="contact" class="four">
			<div class="container">

				<header>
					<h2>Join Our Mailing List</h2>
				</header>

				<p>
					For any inquiries and to join our mailing list, shoot us an email with this form and <br> we'll get back to you!
				</p>

				<form method="post" action="https://formspree.io/supervisors@ryersonbikes.com">
					<div class="row">
						<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
						<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
						<div class="12u$">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
						<div class="12u$">
							<input type="submit" value="Send Message" />
						</div>
					</div>
				</form>

			</div>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; {{ .Site.Params.copyright }}</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Powered by <a href="https://gohugo.io/">Hugo</a></li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/jquery.scrollzer.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
	<script src="/js/main.js"></script>

</body>

</html>
